body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 48px;
  color: #0ff; /* 水色っぽい色 */
  text-shadow: 2px 2px 0 #000;
}
